<div style="">
<div class="container" style="display: flex; height: 100%; width:100%; padding:10px 0; margin:auto;justify-content:center; align-items:center;"><!---First container--->
        <div style=" background:#FF5964;height:500px;justify-content:center;align-items:center;"class="column1"[routerLink]="['/eval']">
        <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto2@master/src/app/baseline_home_work_black_48dp.png" width="80" height="80"style="position:relative; margin-top:180px;">
        <p style="color:white;">
            Home Safety Evaluation
            </p>
        </div>
        <div style=" background: #35A7FF;height:500px;"class="column2" [routerLink]="['/learning']">
          <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_assessment_black_48dp.png" width="80" height="80"style="position:relative;margin-top:180px;">
          <p style="color:white;">
          Learning Center
          </p>
        </div>
    </div>
    